<section class="sectionGeneral">
    <section class="container">
      
      <section class="row">
        <h1>I learned how to create an Angular project </h1>
        <section class="box col-12 col-md-3 hvr-grow-rotate">
          <section class="image">
          <img src="https://i.gifer.com/Qqt.gif">
          </section>
          <section class="name_job">Lyang Lo Coronado</section>
            <section class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </section>
          <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
          <section class="btns">
            <button>Read More</button>
            <button>Subscribe</button>
          </section>
        </section>

        <section class="box col-12 col-md-3 hvr-grow-rotate">
          <section class="image">
          <img src="https://i.gifer.com/YC7t.gif" alt="">
          </section>
          <section class="name_job">Lilian Pashanade Pinedo</section>
          <section class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </section>
          <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
          <section class="btns">
            <button>Read More </button>
            <button>Subscribe</button>
          </section>
        </section>

        <section class="box col-12 col-md-3 hvr-grow-rotate">
          <section class="image">
          <img src="https://i.pinimg.com/originals/de/32/11/de32114cabb749f84662527474c40a28.gif" alt="">
          </section>
          <section class="name_job">Katherine Reyes Vega</section>
            <section class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </section>
          <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
          <section class="btns">
            <button>Read More</button>
            <button>Subscribe</button>
          </section>
        </section>

        <section class="box col-12 col-md-3 hvr-grow-rotate">
          <section class="image">
          <img src="https://media.tenor.com/qIhgj8cLz9UAAAAM/charmander-charmander-pokemon.gif" alt="">
          </section>
          <section class="name_job">Dennys Ruiz Paredes</section>
            <section class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </section>
          <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
          <section class="btns">
            <button>Read More</button>
            <button>Subscribe</button>
          </section>
        </section>        
      </section>
    </section>
</section>